.row {
    margin: auto;
}

.first-line {
    background-color: #90C322;
    color: white;

    max-height: 151px;
    font-family: Arial;


    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .nav-1 {
            display: flex;
            justify-content: space-between;

            width: 15vh;
            text-transform: capitalize;

            line-height: 1.5;
            vertical-align: middle;
        }

        .nav-1 p:hover {
            color: black;
            cursor: pointer;
        }

        input {
            border: 1px solid transparent;
            border-radius: 0.2rem;
        }
    }
}

.logo {
    img {
        max-width: 287px;
        margin: 3rem auto 3rem auto;
    }
}

.navbr {
    background-color: #F8F8F8;

    ul {
        li {
            padding: 0.5rem;

            a {
                text-transform: uppercase;
            }
        }

        li:hover {
            cursor: pointer;
            border-top: 1px solid #90C322;
            border-bottom: 2px solid #90C322;
        }

        ul {
            li:hover {
                background-color: #90C322;

                a {
                    background-color: #90C322;
                    color: white;
                }
            }
        }
    }
}

.carou {
    border: 1px solid transparent;
    border-radius: 0.5rem;

    padding: 0.5rem;
}

.service {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    .service-item {
        background-color: #90C322;
        color: white;

        max-width: 40%;
        font-family: Arial;


        h1 {
            text-transform: capitalize;
        }
    }
}

.categories {
    .title {
        width: 32rem;
        text-align: center;

        font-size: medium;
        border: 1px solid transparent;
        margin: auto;
        text-transform: uppercase;
    }

    .food-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem 0px;

        //border: 1px solid black;

        .foot-item {
            max-width: 25rem;

            h2 {
                text-transform: capitalize;
            }

            a {
                //border: 1px solid black;
                text-transform: capitalize;
            }

            a:hover {
                background-color: #90C322;
                color: white;
            }
        }
    }



}

.new-product {


   // border: 1px solid black;

    h1 {
        text-transform: capitalize;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .product-item {
            max-width: 17rem;
            margin: 0.5rem;
            text-transform: capitalize;

            p {
                color: #90C322;
            }
        }

        a {
            border: 1px solid black;
            text-transform: capitalize;
            width: 100%;
        }

        a:hover {
            background-color: #90C322;
            color: white;

        }
    }
}

.our-parner {
    img {
        max-width: 14rem;
    }

}

.footer {
    background-color: black;
    color: white;
    

    .row{
        padding: 2rem;
    }

    h3{
        text-transform: uppercase;
    }

    .foot-itm1{
        img{
            filter: brightness(200%);
            cursor: pointer;
        }

        li{
            list-style: none;
            margin: 0.5rem;
        }

       
    }

    .last-line {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #90C322;
        margin-top:4rem;

        .pay {
            img {
                margin: 0.5rem;
            }

            img:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

        p {
            text-align: right;
        }
    }
}

body::-webkit-scrollbar{
    background-color: #f5f5f5;
    width: 10px;
}
body::-webkit-scrollbar-track{
    color: #90C322;
}

body::-webkit-scrollbar-thumb{
    color: #90C322;
    background-color: #90C322;
}